@import "../../scss/color";
@import "../../scss/typography";
@import "../../scss/breakpoints.scss";

.blog-preview__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  @media ( max-width: $breakpoint-mobile-l ) {
    display: flex;
    flex-direction: column;
  }
}

.blog-preview__image-wrapper {
  margin: 20px;
}

.blog-preview__text-wrapper {
  text-decoration: none;
  color: $black;
}

.blog-preview__image {
  width: 200px;
  height: 200px;
  border-radius: 30px;

  @media (max-width: $breakpoint-mobile-l ) {
    width: 300px;
    height: 245px;
  }
}

.blog-preview__title {
  font-size: $font-size-xl;
}

.blog-preview__sub-title {
  font-size: $font-size-m;
  padding-top: 8px;
}

.blog-preview__blog-text {
  margin-top: 30px;
  line-height: 25px;
  text-wrap: balance;
}
