@import "../typography.scss";
@import "../breakpoints.scss";

.home-page__images-wrapper {
  display: flex;
  flex-direction: column;

  @media ( min-width: $breakpoint-tablet ) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 0;
  }
}

.home-page__image-box {
  height: fit-content;

  &.is--left {
    @media ( min-width: $breakpoint-tablet ) {
      padding-right: 20px;
    }
  }

    &.is--right {
    @media ( min-width: $breakpoint-tablet ) {
      padding-left: 20px;
    }
  }
}

.home-page__img-container {
  width: fit-content;
  height: 100%;
  margin: 20px 0;
  padding: 8px;
  border-radius: 2px;

  &:hover {
    cursor: pointer;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  }
}

.home-page__image {
  width: 100%;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 4px;
}

.home-page__image-title {
  text-align: center;
  font-family: $header-font;
}
