@import "../../../scss/color";
@import "../../../scss/typography";
@import "../../../scss/breakpoints.scss";

.navbarImage {
  width: 100%;
  top: -144px;
  height: 320px;
  position: relative;
  max-height: 100%;
  z-index: -1;

  @media ( min-width: $breakpoint-laptop ) {
    height: 400px;
  }
}

.navbarImage__wrapper {
  height: 100%;
}

.navbarImage__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
