.content-wrapper {
  @media only screen and (max-width: 480px) {
    max-width: 480px;
  }

    @media only screen and (max-width: 768px) {
      max-width: 768px;
  }

    @media only screen and (max-width: 1024px) {
      max-width: 1024px;
  }
}
