@import "../../scss/color";
@import "../../scss/typography";
@import "../../scss/breakpoints.scss";

.three-element__wrapper {
  text-align: center;
}

.three-element__image-wrapper {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.three-element__image {
  width: 200px;
  height: 200px;
  border-radius: 30px;
}

.three-element__title {
  font-size: $font-size-xl;
}

.three-element__sub-title {
  font-size: $font-size-m;
  padding-top: 8px;
}
