$black: #000000;
$white: #fff;
$gold: #DCB52D;
$purpledark: #6C4178;
$pompandpower: #93649E;
$brown: #804829;
$beige: #D3C3AD;
$eggplant: #714955;
$puce: #CF758D;
$vanilla: #FFEBAD;
$cosmiclatte: #FFFAEB;
