@import "../../../scss/color";
@import "../../../scss/typography";
@import "../../../scss/breakpoints.scss";

.navbar {
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0px;
  left: 0;
  background-color: transparent;
}

.navbar2 {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0px;
  left: 0;
  background-color: $pompandpower;

  .navbar__nav-items {
    @media (max-width: $breakpoint-tablet) {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.navbar .wrapper, .navbar2 .wrapper {
  padding: 20px 20px 0;

  @media ( min-width: $breakpoint-laptop ) {
    padding: 30px 10px;
  }
}

.navbar__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-transform: uppercase;
  font-size: $font-size-ms;

  @media ( min-width: $breakpoint-tablet ) {
    align-items: flex-start;
    font-size: $font-size-m;
  }
}

.navbar__nav-items {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media ( min-width: $breakpoint-tablet ) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navbar__nav-items-cta {
  background: none;
  border: none;
  font-size: $font-size-m;
  text-transform: uppercase;
  padding: 0;
  text-decoration: none;
  font-family: "Lato";
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
  color: $gold;
  margin: 8px 0;

  @media ( min-width: $breakpoint-tablet ) {
    margin: 0;
  }
}

.navbar__nav-items-sub-menu {
  display: flex;
  position: absolute;
  top: 50px;
  left: 0;
  justify-content: space-around;
  // background: white;
  padding: 16px;
  width: auto;
  left: 50%;
  transform: translate(-50%, 0);

  @media ( min-width: $breakpoint-tablet ) {
    width: 75%;
  }
}

.navbar__nav-items-sub-menu.is--hidden {
  opacity: 0;
}

.navbar__nav-items-cta:hover {
  padding-bottom: 3px;
  border-bottom: 1px solid $gold;
  height: 19px;
}

.icon__instagram {
  color: $gold;
  font-size: 18px;
  margin: 0;

  @media ( min-width: $breakpoint-laptop ) {
    margin: 1px 0 0 20px;
  }

  &.is--footer {
    color: $gold;
    margin-right: 22px;
  }
}

.icon__instagram:hover {
  color: $beige;
}

.click-outside-wrapper {
  height: 100px;
}
